[Unit]
Description=Initialize container

[Service]
Type=oneshot
PassEnvironment=DEBUG_MODE
ExecStart=/bin/sh /usr/bin/container_init.sh

[Install]
WantedBy=multi-user.target